* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh  10vh;
    height: 100vh;
    
}

header{   
    display: grid;
    align-items: center;
    background-color: burlywood;
    grid-column: 1/-1;
}

input{
    height: 30px;
    width: 200px;
    grid-column: 5/5;   
    
}

footer{
    display: grid;
    grid-column: 1/-1;
    background-color: brown;
    justify-items: start;
    
}

.areavideo{
    display: flex;
    justify-content: center;
    
}